@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

body {
  font-family: Arial;
  background-image: url("https://i.pinimg.com/originals/12/0e/03/120e03442dc1d98f8a72407cddf53d5d.gif");
}

h3 {
  letter-spacing: 0.5rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-size: 2rem;
  font-family: 'Kavoon', cursive;
  font-weight: bold;
}

.btn {
  text-transform: uppercase;
  background: transparent;
  
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.1rem;
  display: inline-block;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
}

.btn:hover {
  color: white;
  background: black;
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 35rem;
  margin-top: 8rem;
}

main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.section-center {
  background-image: url("https://images.pexels.com/photos/326333/pexels-photo-326333.jpeg?auto=compress&cs=tinysrgb&w=600");
  border-radius: 2rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  padding: 2rem;
}

.section-center:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.alert {
  margin-bottom: 1rem;
  height: 1.25rem;
  display: grid;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  border-radius: 0.25rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
}

.alert-empty {
  color: red;
  background: #f8d7da;
}

.alert-clear {
  color: red;
  background: #f8d7da;
}

.alert-remove {
  color: red;
  background: #f8d7da;
}

.alert-success {
  color: green;
  background: #d4edda;
}

.grocery-form h3 {
  color: #FFDE59;
  margin-bottom: 1.5rem;
  text-align: center;
}

.form-control {
  display: flex;
  justify-content: center;
}

.grocery {
  padding: 0.25rem;
  padding-left: 1rem;
  border-radius: 2rem;
  border-color: transparent;
  transition: all 0.3s linear;
  font-size: 1rem;
  flex: 1 0 auto;
  color: grey;
}

.submit-btn {
  background: hsl(205, 86%, 81%);
  font-weight: bold;
  border-color: transparent;
  flex: 0 0 5rem;
  display: grid;
  align-items: center;
  text-transform: capitalize;
  letter-spacing: 2px;
  border-radius: 2rem;
  cursor: pointer;
  font-family: arial;
}

.submit-btn:hover {
  background: #FFDE59;
  color: white;
  transition: all 0.3s linear;
}

.grocery-container {
  margin-top: 2rem;
}

.grocery-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  transition: all 0.3s linear;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
  text-transform: capitalize;
}

.grocery-item:hover {
  color: white;
  background: white;
}

.grocery-item:hover .title {
  color: grey;
}

.title {
  color: #FFDE59;
  letter-spacing: 2px;
}

.edit-btn{
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
  color: hsl(125, 71%, 66%);
}

.remove-btn {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  font-size: 0.7rem;
  margin: 0 0.15rem;
  color: hsl(360, 67%, 44%);
}

.edit-btn:hover {
  color: green;
}

.delete-btn:hover {
  color: red;
}

.clear-btn {
  text-transform: capitalize;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: hsl(360, 67%, 44%);
  margin: 0 auto;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  cursor: pointer;
  font-weight: 10px;
}

.clear-btn:hover {
  color: red;
}